{% extends 'base.html.twig' %}

{% block title 'All Conferences' %}

{% block body %}
<section id="list-conferences">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <h1 class="fw-bolder" style="color: limegreen;">List all conferences</h1>
                <div>
                    <twig:Conference:ListFilterForm :fromDate="from_date" :toDate="to_date" />
                </div>
                <twig:Conference:ConferenceList :fromDate="from_date" :toDate="to_date" />
            </div>
        </div>
    </div>
</section>
{% endblock %}
